a {
  text-decoration: none;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--blue-text);
  font-size: 26px;
  letter-spacing: 0.03em;
}
.logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--black-dark-text);
  font-size: 26px;
  letter-spacing: 0.03em;
}
.logo-studio-white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: var(--white-text);
  font-size: 26px;
  letter-spacing: 0.03em;
}
.nav:hover {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-text);
  letter-spacing: 0.02em;
}
.nav {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--black-text);
  letter-spacing: 0.02em;
}
.nav-contacts:hover {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-text);
  letter-spacing: 0.02em;
}
.nav-contacts {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-text);
  letter-spacing: 0.02em;
}
.hero {
  background-color: var(--dark-grey-bac);
  width: 1600px;
  height: 600px;
}
.hero-text {
  font-family: "roboto";
  font-size: 60px;
  font-weight: 900;
  color: var(--white-text);
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.button-zakaz {
  width: 200px;
  height: 50px;
  color: var(--white-text);
  letter-spacing: 0.06em;
}
.button-zakaz:hover {
  width: 200px;
  height: 50px;
  color: var(--blue-text);
  letter-spacing: 0.06em;
}
.hide {
  height: 0px;
  overflow: hidden;
}
.approach {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  color: var(--black-text);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.approach-text {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.03em;
}
.what-we-do {
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
}
.team {
  font-family: "roboto";
  font-size: 36px;
  font-weight: 700;
  color: var(--black-text);
  letter-spacing: 0.03em;
}
.team-name {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  color: var(--black-dark-textt);
  letter-spacing: 0.03em;
}
.team-text {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-text);
  letter-spacing: 0.03em;
}
.footer-bac {
  background-color: var(--dark-grey-bac);
  width: 1600px;
  height: 252px;
}
.map {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--white-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-text-op60);
  letter-spacing: 0.03em;
}
.address {
  font-style: normal;
}
