:root {
  --white-text: rgba(255, 255, 255, 1);
  --grey-text-op60: rgba(157, 164, 189, 0.6); /* op в назві прозрачність*/
  --grey-text: rgba(157, 164, 189, 1);
  --graphit: rgba(157, 169, 189, 1);
}

/* по кнопках */
.Button {
    border:none; забрали рамку
    background: transparent; прозорий беграунд
}